@import "variables";

.landing_page {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-image: url("../static/images/landing.jpg");
  background-size: cover;
}

.landing_page_text {
  position: relative;
  margin: auto;
  padding-top: 15%;
  width: 60%;
  height: 100%;
  font-size: 2em;
  font-weight: 900;
  color: color(white);
  text-align: center;
  text-shadow: 2px 1px black;
  @media screen and (max-width: 500px) {
    h1 {
      line-height: 1.5em;
      font-size: 1.5rem;
    }
    span {
      font-size: 1rem;
    }
  }

  span {
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
}

.sloganStyle {
  background: rgba(200, 200, 200, 0.6);
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px;
  text-shadow: -1px -1px 1px #aaa,
  0px 4px 1px rgba(0, 0, 0, 0.5),
  4px 4px 5px rgba(0, 0, 0, 0.7),
  0px 0px 7px rgba(0, 0, 0, 0.4);
}


