@import "variables";

.navigation {

  &.white {
    background-color: color(white);
  }
  * {
    color: color(secondary);
    height: 100%;
  }
  .title {
    margin-left: 1em;
  }

  .logo {
    left: 12px;
    margin-left: 12px;
  }

  .profile-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  button {
    &.search {
      margin: auto 2em;
      padding: auto 1em;
      background-color: transparent;
      border-radius: 3px;
      &:hover {
        background-color: #F1F1F1;
        i {
          color: #000000;
        }
      }
    }
    &.searchOpen {
      background-color: color(primary);
      i {
        color: #FFFFFF;
      }
    }
  }

  .dropbtn {
    background-color: inherit;
    color: white;
    padding: auto 5px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    margin: auto;
    display: inline-block;
    button {
      margin: auto;
    }
    > div.bar {
      display: flex;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    > a {
      display: block;
      background-color: #f1f1f1;
      margin: auto;
      padding: auto;
    }
    span {
      display: flex;
      justify-items: center;
      align-items: center;
      i {
        margin-right: 1em;
      }
    }
    & {
      position: absolute;
      background: color(white);
      border: 1px solid #d8e9e0;
    }
    &:after, &:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: color(light);
      border-width: 20px;
      margin-left: -30px;
    }
  }

  .signup {
    margin-right: 1em;
    border-right: 1px solid green;
    padding-right: 1em;
  }
  .signup, .login {
    color: #00544a;
    &:hover {
      color: dodgerblue;
    }
  }

  .dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: color(light);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: color(light);
  }
}

.Modal {
  width: 30%;
}
