@import "variables";

.wrapper {
  height: 100%;
  width: 100%;
  .blur {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 100000;
    background-color: rgba(105, 105, 105, 0.82);
  }
  .lds-hourglass {
    left: 0;
    right: 0;
    position: absolute;
    z-index: 100001;
    &:after {
      content: " ";
      border-radius: 50%;
      width: 0;
      height: 0;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      border-style: solid;
      border-width: 26px;
      border-color: color(light) color(white) color(light) color(white);
      animation: lds-hourglass 1.2s infinite;
    }

    @keyframes lds-hourglass {
      0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
      50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      100% {
        transform: rotate(1800deg);
      }
    }
  }
}
