.nav {
    background-color: #ffffff ;
}

.sign-up-form-landscape{

    width: 100%;
    background-color: beige;
}

.card-form-signup{
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
}

.input-width{
    width: 60px;
}


.button-effects{
    background-color: #00544a;
    margin-bottom: -1px;

}

.signup-header{
    font-size: 20px;
    color: #3c8176;
    font-style: revert;
    margin-bottom: 0;
}

.icon-styles{
    color: #41a700;
    margin-top: 10px;
}

.card-effects{

    width: 80%;
    height:30%;
    margin-right: 60px;
}

.text-message{
    background-color: #3c8176;
    font-size: 12px;
    margin-top: 70px;
    color: white;
    border-radius: 25px;
    width: 1000px;
    padding: 13px;
    margin-left: 180px;
}

.text-navbar{

    color :#00544a;
    background-color: #00544a;
    
}

.button-nav{
    background-color: #fff;
    color: #00544a;
}


.modal-effects{

    @media screen and (min-width: 500px) and (max-width: 700px) {
        &{
            width: 50% !important;
            height: auto;
            max-height: 600px;
            overflow-y: hidden !important ;
        }
    }

    @media screen and (max-width: 499px){
        &{
            width: 90% !important;
            height: auto;
            max-height: 600px;
            overflow-y: hidden !important ;
        }
    }

    @media screen and (min-width: 701px){
        &{
            width: 30% !important;
            height: auto;
            max-height: 600px;
            overflow-y: hidden !important ;
        }
    }

}

.row{
  height: 12px;
    text-align: center;

}

.input-forms{
    margin-left: 77px;

}

.div-height{
    height: 10px;
}

.center-items{
    margin-left: 160px;

}

.error{
    color: red;
    margin-left: 50px;
    height: 3px;
    font-size: 13px;
    margin-bottom: 8px;

}