@import "../variables";
@import "../materialButtonRaised";

.facebook {
  background-color: color(facebook);
  &:hover, &:active, &:focus{
    background-color: lighten(color(facebook),10%);
  }
}

.button-icon {
  justify-content: center;
  display: flex;
  flex-direction: row;
  text-transform: none;
  svg {
    margin-right: .2em;
    width: auto;
    height: auto;
  }

  span {
    text-align: center;
    margin: auto auto auto .2em;
    border-left: 1px solid #fff;
    padding: auto;
    padding-left: 1em;
  }
}
