@import "../../variables";
@import "../../material.button.raised";

.google {
	background-color: color(google);
}

.button-icon {
	justify-content: center;
	display: flex;
	flex-direction: row;
	text-transform: none;
	svg {
		margin-right: .2em;
		width: auto;
		height: auto;
	}

	span {
		text-align: center;
		margin: auto auto auto .2em;
		border-left: 1px solid #fff;
		padding: auto;
		padding-left: 1em;
	}
}
