.footer{
	padding-top: 0 !important;
}
.cards {
	@media screen and (max-width: 700px) {
		> div {
			width: 100% !important;
			.card {
				height: auto !important;
			}
		}
	}

	p {
		display: flex;
		justify-content: stretch;
	}
}


