@import "../../material.button.raised";
@import "../../variables";

.social-container {

	box-sizing: border-box;
	text-transform: none;
	color: color(white);

	.buttons-social{
		margin: 2em auto auto;
		justify-content: space-around;
		display: flex;
		flex-direction: column;
		Button {
			width: 100%;
			height: auto;
			border-radius: 5px;
			margin: .5em .5em .5em .3em;
			text-align: center;
		}
	}
	.button-icon {
		justify-content: center;
		display: flex;
		flex-direction: row;
		text-transform: none;
		svg {
			margin-right: .2em;
			width: auto;
			height: auto;
		}

		span {
			text-align: center;
			margin: auto auto auto .2em;
			border-left: 1px solid #fff;
			padding: auto;
			padding-left: 1em;
		}
	}
}

@media screen and (max-width: 320px){

	.social-container {
		.buttons-social{
			display: block;
			Button {
				width: 100%;
				span{
					width: 100%;
					text-align: right;
				}
			}
		}
	}
}
