@import "../../material.button.raised";
@import "../../variables";

.social-container {

	box-sizing: border-box;
	text-transform: none;
	color: color(white);
	.buttons-social{
		margin: 2em auto auto;
		Button {
			width: 45%;
			float: right;
			height: auto;
			border-radius: 5px;
			margin: .2em .5em .2em .3em;
			text-align: center;

		}
	}
	.button-icon {
		display: flex;
		flex-direction: row;
		text-transform: none;
		justify-content: space-around;
		svg {
			margin-right: .2em;
			width: auto;
			height: auto;
		}

		span {
			width: 100%;
			text-align: center;
			white-space: nowrap;
			margin: auto auto auto .2em;
			border-left: 1px solid #fff;
			padding: auto;
			padding-left: 1em;
		}
	}
}

@media screen and (max-width: 1000px){

	.social-container {
		.buttons-social{
			display: flex;
			flex-direction: column;
			align-items: stretch;
			justify-items: stretch;
			Button {
				float: none;
				width: 100%;
				span{
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 620px){

	.social-container {
		.buttons-social{
			display: flex;
			flex-direction: column;
			align-items: stretch;
			justify-items: stretch;
			Button {
				float: none;
				span{
					display: none;
				}
			}
		}
	}
}
