@import "../../material.button.raised";
@import "../../variables";

.social-container {

	box-sizing: border-box;
	color: color(white);
	margin-top: 20px !important;
	.buttons-social{
		margin: .6em auto auto;
		Button {
			width: 100%;
			height: 36px;
			line-height: 36px;
			margin: .2em 0;
			text-align: center;
		}
	}
	.button-icon {
		display: flex;
		flex-direction: row;
		text-transform: none;
		justify-content: space-around;
		svg {
			margin: auto;
			margin-right: .5em;
			min-width: 1.5em;
			min-height: 1.5em;
		}

		span {
			width: 100%;
			font-weight: normal;
			white-space: nowrap;
			font-size: 10pt;
			text-transform: none;
			margin: auto;
			border-left: 1px solid #fff;
			padding-left: .6em;
		}
	}
}

