.profile_container {
  margin-top: 15px;

  @media (max-width: 600px) {

    text-align: center;
  }
}

.profile_content {
  padding-top: 20px;
}
body {
  background-color: rgba(189, 189, 192, 0.07);
}

.usernames {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-tab {
  margin-top: 10px;
}
.img{
  height: 30px;
  border-radius: 30px;
}
.username{
  padding-left: 30px;
}

.userDisplay{
  font-size: medium;
  color: #00544a;
  padding-left: 30%;
  margin-top: 20%;
  width: 100%;
}

.display {
  background: #f7f7f7;
  height: 70vh;
  max-height: content-box;
}
